# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# FastAPI specific
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variable files
.env

# Database files (e.g., SQLite)
*.db

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Unit test coverage reports
.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/

# Test or build folders
tests/__pycache__/
