.container {
  display: flex;
  gap: 20px; /* Khoảng cách giữa các item */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-right: 50px;
  padding: 20px;
  border: 2px solid;
  border-radius: 15px;
  background-color: rgb(181, 251, 251);
}

.item {
  text-align: center;
}

.number {
  font-size: 2em; /* Kích thước chữ số lớn hơn */
  font-weight: bold;
  color: #333; /* Màu chữ đậm */
  display: block; /* Để label xuống dòng */
}

.label {
  font-size: 0.9em;
  color: #777; /* Màu chữ nhạt hơn cho label */
}
